<a href="/">
  <img src="/images/habitat-by-chef.svg" alt="Habitat Logo">
</a>
<ul>
  <li><a href="/learn/">Learn</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/community/">Community</a></li>
  <li><a href="/enterprise/">Enterprise</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="https://bldr.habitat.sh/">Habitat Builder</a></li>
</ul>
<ul>
  <li><a href="https://github.com/habitat-sh/habitat">GitHub</a></li>
  <li><a href="http://slack.habitat.sh/">Slack</a></li>
  <li><a href="https://twitter.com/habitatsh">Twitter</a></li>
  <li><a href="https://www.youtube.com/channel/UC0wJZeP2dfPZaDUPgvpVpSg/videos">YouTube</a></li>
</ul>
<ul>
  <li><a href="/legal/licensing/">Licensing</a></li>
  <li><a href="/legal/terms-and-conditions/">Terms &amp; Conditions</a></li>
  <li><a href="/legal/trademark-policy/">Trademark Policy</a></li>
  <li><a href="/legal/privacy-policy/">Privacy Policy</a></li>
  <li><a href="/legal/">Contributing</a></li>
  <li><a href="/legal/">Code of Conduct</a></li>
  <li><a href="/legal/">Cookie Policy</a></li>
</ul>
