{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <h2>
    {{ .Date }}
    {{ if .Params.has_archived }}
      <a href="/legal/archived/{{ .File.BaseFileName }}/">View archived version</a>
    {{ end }}
  </h2>
  {{ .Content }}
{{ end }}

{{ define "aside" }}
  <ul>
    <li><a href="/legal/licensing/">Licensing</a></li>
    <li><a href="/legal/terms-and-conditions/">Terms &amp; Conditions</a></li>
    <li><a href="/legal/trademark-policy/">Trademark Policy</a></li>
    <li><a href="/legal/privacy-policy/">Privacy Policy</a></li>
    <li><a href="https://github.com/habitat-sh/habitat/blob/master/CONTRIBUTING.md#contributing-to-habitat">Contributing</a></li>
    <li><a href="https://github.com/habitat-sh/habitat/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a></li>
    <li><a href="https://www.chef.io/cookie-policy/">Cookie Policy</a></li>
  </ul>
{{ end }}

{{ define "title" }}
  Legal
{{ end }}
