{{ define "main" }}

{{ end }}

{{ define "aside" }}
  <hab-accordion>
    <li><a href="/docs/">Docs Home</a></li>
    <li>
      <a href="/docs/install-habitat/">Install Habitat</a>
      <ul>
        <li>One</li>
        <li>Two</li>
      </ul>
    </li>
    <li><a href="/docs/developing-packages/">Developing Packages</a></li>
    <li><a href="/docs/using-builder/">Working with Builder</a></li>
    <li><a href="/docs/using-habitat/">Managing Services</a></li>
    <li><a href="/docs/habitat-cli/">CLI Commands</a></li>
    <li><a href="/docs/reference/">Reference</a></li>
    <li><a href="/docs/best-practices/">Best Practice Guides</a></li>
    <li><a href="/docs/glossary/">Glossary</a></li>
    <li><a href="/docs/internals/">Internals</a></li>
    <li><a href="/docs/contribute/">Contribute</a></li>
  </hab-accordion>
  <button>Download the Habitat CLI</button>
{{ end }}

{{ define "title" }}

{{ end }}
