<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Habitat</title>
    <meta name="description" content="Habitat - Automation that travels with the app. Habitat allows any app to be independent of any particular infrastructure environment, like containers or PaaS.">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="page home">
      <nav>
        <header>
          {{ partial "header"}}
        </header>
      </nav>
      <main>
        <h1>Build your application to run anywhere and manage it through its lifecycle.</h1>
        <p>
          Habitat is open-source software that not only creates platform-independent build artifacts,
          but also provides built-in deployment and management capabilities.
        </p>
      </main>
      <footer>
        {{ partial "footer"}}
      </footer>
    </div>
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXXXXX-X','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
