/* =============================
Universal
============================= */

/* apply a natural box layout model to all elements, but allowing components to change
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* =============================
Vendor
============================= */
@import "vendor/normalize";


/* =============================
Custom
============================= */
@import "layout";